@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dosis Regular";
  font-weight: 400;
  src: url("/fonts/Dosis Regular.ttf");
}

@font-face {
  font-family: "Digi Reg";
  font-weight: 400;
  src: url("/fonts/DS-DIGI.ttf");
}

@font-face {
  font-family: "Digi Bold";
  font-weight: 400;
  src: url("/fonts/DS-DIGIB.ttf");
}

@font-face {
  font-family: "Digi Italic";
  font-weight: 400;
  src: url("/fonts/DS-DIGII.ttf");
}

@font-face {
  font-family: "Digi T";
  font-weight: 400;
  src: url("/fonts/DS-DIGIT.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(#81a8f8 0.1em, transparent 0.1em),
    linear-gradient(90deg, #81a8f8 0.1em, transparent 0.1em);
  background-size: 5em 5em;
  background-color: #131313;
}

::placeholder {
  color: white !important;
}

#radialPinkBorder {
  background: radial-gradient(
    circle,
    rgba(248, 245, 230, 1) 0%,
    rgba(255, 241, 206, 1) 17%,
    rgba(253, 254, 221, 1) 33%,
    rgba(249, 215, 141, 1) 53%,
    rgba(244, 198, 167, 1) 73%,
    rgba(238, 192, 146, 1) 86%,
    rgba(255, 219, 150, 1) 100%
  );
  opacity: 0.9;
}

div::-webkit-scrollbar {
  width: 0.01rem;
  height: 0.1rem;
}

div::-webkit-scrollbar {
  width: 0.01rem;
}

div::-webkit-scrollbar-track:active {
  background-color: #131313;
}

div::-webkit-scrollbar-thumb:active {
  background-color: #ffdcff;
}

#record1 {
  background: conic-gradient(#2a36f6, #0714d6, #0710a2, #0a15c7, #2a36f6);
  opacity: 0.9;
}

#record2 {
  background: conic-gradient(#f8f5e6, #e7b97b, #ffdb96, #ffde90, #fff4bc);
  opacity: 0.9;
}

#record3 {
  background: conic-gradient(#fc9cf3, #b9d9ff, #0091ff, #fd99dc);
  opacity: 0.9;
}

#record4 {
  background: conic-gradient(#6486f3, #b620e0, #d66a71, #f7b500, #32c5ff);
  opacity: 0.9;
}

#record5 {
  background: conic-gradient(#2af651, #07d61d, #06cf0b, #2af640);
  opacity: 0.9;
}

#record6 {
  background: conic-gradient(#000000, #131313);
  opacity: 0.9;
}

#record7 {
  background: conic-gradient(#712af6, #7e07d6, #9806cf, #5a0ac7, #682af6);
  opacity: 0.9;
}

#record8 {
  background: conic-gradient(#6dd400, #96d026, #96cb00, #cabf00, #f7b500);
  opacity: 0.9;
}

#record9 {
  background: conic-gradient(#f62ada, #d607cf, #cf06ad, #c70aa1, #f62ad3);
  opacity: 0.9;
}

#record10 {
  background: conic-gradient(
    #f7f7f3,
    #dbdfb2,
    #aeeccf,
    #cedfde,
    #f1d2ef,
    #f6ebf7,
    #f0ecf6,
    #ffffff,
    #f6f7e6
  );
  opacity: 0.9;
}

#record11 {
  background: conic-gradient(#f62a2a, #d60707, #cf0606);
  opacity: 0.9;
}

#record12 {
  background: conic-gradient(#2abdf6, #078fd6, #06a9cf, #0ac7ab, #2abcf6);
  opacity: 0.9;
}

#record13 {
  background: conic-gradient(
    #f6f7f3,
    #f6ddc3,
    #fefffe,
    #f1d2ef,
    #ffc4a1,
    #f1cfbd,
    #ffecfe
  );
  opacity: 0.9;
}

#record14 {
  background: conic-gradient(#f6f42a, #d6b407, #cfaa06, #c7c20a, #f5f62a);
  opacity: 0.9;
}

#record15 {
  background: conic-gradient(#fc9cf3, #b9d9ff, #0091ff, #99fdc1);
  opacity: 0.9;
}

#select1 {
  background: conic-gradient(#000000, #131313);
}

#select1:hover {
  background: conic-gradient(#000000, #131313);
  opacity: 0.4;
}

#select2 {
  background: conic-gradient(#2a36f6, #0714d6, #0710a2, #0a15c7, #2a36f6);
}

#select2:hover {
  background: conic-gradient(#2a36f6, #0714d6, #0710a2, #0a15c7, #2a36f6);
  opacity: 0.4;
}

#select3 {
  background: conic-gradient(#f62a2a, #d60707, #cf0606);
}

#select3:hover {
  background: conic-gradient(#f62a2a, #d60707, #cf0606);
  opacity: 0.4;
}

#feedBackground {
  background: conic-gradient(
    #000000,
    #131313,
    #000000,
    #ece4e4,
    #000000,
    #131313,
    #000000
  );
  opacity: 0.9;
}

#username {
  background: linear-gradient(
    -86deg,
    #f8f5e6,
    #f9d78d,
    #e7b97b,
    #fff1cf,
    #fdfedd
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hot {
  background: conic-gradient(
    #f7f7f3,
    #dbdfb2,
    #aeeccf,
    #cedfde,
    #f1d2ef,
    #f6ebf7,
    #f0ecf6,
    #ffffff,
    #f6f7e6
  );
  opacity: 0.85;
}

#crt {
  background: linear-gradient(to right, #fc9cf3, #b9d9ff, #0091ff, #fd99dc);
}

#create {
  background: linear-gradient(
    to right,
    #2a36f6,
    #0714d6,
    #0710a2,
    #0a15c7,
    #7077de
  );
}

#add {
  background: linear-gradient(
    -86deg,
    #c3ac3b,
    #f9d78d,
    #e7b97b,
    #cea23b,
    #eaed8a
  );
}

textarea::placeholder {
  color: #131313 !important
}