@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dosis Regular";
  font-weight: 400;
  src: url("/fonts/DosisRegular.ttf");
}

@font-face {
  font-family: "Digi Reg";
  font-weight: 400;
  src: url("/fonts/DS-DIGI.ttf");
}

@font-face {
  font-family: "Digi Bold";
  font-weight: 400;
  src: url("/fonts/DS-DIGIB.ttf");
}

@font-face {
  font-family: "Digi Italic";
  font-weight: 400;
  src: url("/fonts/DS-DIGII.ttf");
}

@font-face {
  font-family: "Digi T";
  font-weight: 400;
  src: url("/fonts/DS-DIGIT.ttf");
}

html,
body {
  touch-action: none;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(#81a8f8 0.1em, transparent 0.1em),
    linear-gradient(90deg, #81a8f8 0.1em, transparent 0.1em);
  background-size: 5em 5em;
  background-color: #131313;
}

/* ::placeholder {
  color: white !important;
} */

#radialPinkBorder {
  background: radial-gradient(
    circle,
    rgba(248, 245, 230, 1) 0%,
    rgba(255, 241, 206, 1) 17%,
    rgba(253, 254, 221, 1) 33%,
    rgba(249, 215, 141, 1) 53%,
    rgba(244, 198, 167, 1) 73%,
    rgba(238, 192, 146, 1) 86%,
    rgba(255, 196, 191, 1) 100%
  );
  opacity: 0.9;
}

div::-webkit-scrollbar {
  width: 0.01rem;
  height: 0.1rem;
}

div::-webkit-scrollbar {
  width: 0.01rem;
}

div::-webkit-scrollbar-track:active {
  background-color: #131313;
}

div::-webkit-scrollbar-thumb:active {
  background-color: #ffdcff;
}

#record1 {
  background-image: url("https://thedial.infura-ipfs.io/ipfs/QmWXbHhAV2zP7znFCAk7mk9m8CJwWEvg3Y2uXkF9FriB8R");
  background-position: center;
  background-size: cover;
  background-color: conic-gradient(#2a36f6, #0714d6, #0710a2, #0a15c7, #2a36f6);
  opacity: 0.9;
}

#record1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.18);
  filter: blur(5px);
}

#record2 {
  background-image: url("https://thedial.infura-ipfs.io/ipfs/QmcmgirQuQrY6WAdAZSVZtDZSLMVwXZ7qUZJ1YpytP6ciz");
  background-position: center;
  background-size: cover;
  background-color: conic-gradient(#f8f5e6, #e7b97b, #ffdb96, #ffde90, #fff4bc);
  opacity: 0.9;
}

#record2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.18);
  filter: blur(5px);
}

#record3 {
  background-image: url("https://thedial.infura-ipfs.io/ipfs/QmepsJm12yZfqGKHgGeXmYs5gDFMfoAzfszbdNX3gNMWZR");
  background-position: center;
  background-size: cover;
  background-color: conic-gradient(#fc9cf3, #b9d9ff, #0091ff, #fd99dc);
  opacity: 0.9;
}

#record3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.18);
  filter: blur(5px);
}

#record4 {
  background-image: url("https://thedial.infura-ipfs.io/ipfs/QmfPRMQV9T1QT4VukWxMnG3UXU9PBYAfBbZumggsLbkaku");
  background-position: center;
  background-size: cover;
  background-color: conic-gradient(#6486f3, #b620e0, #d66a71, #f7b500, #32c5ff);
  opacity: 0.9;
}

#record4:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.18);
  filter: blur(5px);
}

#record5 {
  background-image: url("https://thedial.infura-ipfs.io/ipfs/QmbBay2PjNcKoUa25ZWYVDGAeZZ3n8aG6bRugpw3dZLJDT");
  background-position: center;
  background-size: cover;
  background-color: conic-gradient(#2af651, #07d61d, #06cf0b, #2af640);
  opacity: 0.9;
}

#record5:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.18);
  filter: blur(5px);
}

#record6 {
  background-image: url("https://thedial.infura-ipfs.io/ipfs/QmbyjAvcCjhxGDsn8h97dxn8j5KAU9WbHasxwvtbWFHnCq");
  background-position: center;
  background-size: cover;
  background-color: conic-gradient(#000000, #131313);
  opacity: 0.9;
}

#record6:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.18);
  filter: blur(5px);
}

#record7 {
  background-image: url("https://thedial.infura-ipfs.io/ipfs/QmPeRQbckKH2RSbSrWaXRTkcXYKBJJVQpkc3mZwNsE5rHX");
  background-position: center;
  background-size: cover;
  background-color: conic-gradient(#712af6, #7e07d6, #9806cf, #5a0ac7, #682af6);
  opacity: 0.9;
}

#record7:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.18);
  filter: blur(5px);
}

#record8 {
  background-image: url("https://thedial.infura-ipfs.io/ipfs/QmZHrEM2XK3QCQmuVZsb96L553N7Mxqa1d53QmA33bm3NM");
  background-position: center;
  background-size: cover;
  background-color: conic-gradient(#6dd400, #96d026, #96cb00, #cabf00, #f7b500);
  opacity: 0.9;
}

#record8:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.18);
  filter: blur(5px);
}

#record9 {
  background-image: url("https://thedial.infura-ipfs.io/ipfs/QmVm9VbBtBjWh8sDcVm9Teaoo6XQYg2y7EwTamtq8rEyvf");
  background-position: center;
  background-size: cover;
  background-color: conic-gradient(#f62ada, #d607cf, #cf06ad, #c70aa1, #f62ad3);
  opacity: 0.9;
}

#record9:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.18);
  filter: blur(5px);
}

#record10 {
  background-image: url("https://thedial.infura-ipfs.io/ipfs/QmW2V1PyNz3DYwjfPsQQcCJnkTPtjQF5axJhjGHbEpVKbk");
  background-position: center;
  background-size: cover;
  background-color: conic-gradient(
    #f7f7f3,
    #dbdfb2,
    #aeeccf,
    #cedfde,
    #f1d2ef,
    #f6ebf7,
    #f0ecf6,
    #ffffff,
    #f6f7e6
  );
  opacity: 0.9;
}

#record10:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.18);
  filter: blur(5px);
}

#record11 {
  background-image: url("https://thedial.infura-ipfs.io/ipfs/QmRnEBe8sugCxF5aCNXEUtVrQmh3fPEva6fBCVfFm2FXn8");
  background-position: center;
  background-size: cover;
  background-color: conic-gradient(#f62a2a, #d60707, #cf0606);
  opacity: 0.9;
}

#record11:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.18);
  filter: blur(5px);
}

#record12 {
  background-image: url("https://thedial.infura-ipfs.io/ipfs/QmQKyDvWHqurBiACGx1nUDy9he8w2dGsZjbrw1xSyGjLkn");
  background-position: center;
  background-size: cover;
  background-color: conic-gradient(#2abdf6, #078fd6, #06a9cf, #0ac7ab, #2abcf6);
  opacity: 0.9;
}

#record12:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.18);
  filter: blur(5px);
}

#record13 {
  background-image: url("https://thedial.infura-ipfs.io/ipfs/QmWXbHhAV2zP7znFCAk7mk9m8CJwWEvg3Y2uXkF9FriB8R");
  background-position: center;
  background-size: cover;
  background-color: conic-gradient(
    #f6f7f3,
    #f6ddc3,
    #fefffe,
    #f1d2ef,
    #ffc4a1,
    #f1cfbd,
    #ffecfe
  );
  opacity: 0.9;
}

#record13:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.18);
  filter: blur(5px);
}

#record14 {
  background-image: url("https://thedial.infura-ipfs.io/ipfs/QmcmgirQuQrY6WAdAZSVZtDZSLMVwXZ7qUZJ1YpytP6ciz");
  background-position: center;
  background-size: cover;
  background-color: conic-gradient(#f6f42a, #d6b407, #cfaa06, #c7c20a, #f5f62a);
  opacity: 0.9;
}

#record14:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.18);
  filter: blur(5px);
}

#record15 {
  background-image: url("https://thedial.infura-ipfs.io/ipfs/QmepsJm12yZfqGKHgGeXmYs5gDFMfoAzfszbdNX3gNMWZR");
  background-position: center;
  background-size: cover;
  background-color: conic-gradient(#fc9cf3, #b9d9ff, #0091ff, #99fdc1);
  opacity: 0.9;
}

#record15:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.18);
  filter: blur(5px);
}

#select1 {
  background: conic-gradient(#000000, #131313);
}

#select1:hover {
  background: conic-gradient(#000000, #131313);
  opacity: 0.4;
}

#select2 {
  background: conic-gradient(#2a36f6, #0714d6, #0710a2, #0a15c7, #2a36f6);
}

#select2:hover {
  background: conic-gradient(#2a36f6, #0714d6, #0710a2, #0a15c7, #2a36f6);
  opacity: 0.4;
}

#select3 {
  background: conic-gradient(#f62a2a, #d60707, #cf0606);
}

#select3:hover {
  background: conic-gradient(#f62a2a, #d60707, #cf0606);
  opacity: 0.4;
}

#feedBackground {
  background: conic-gradient(
    #000000,
    #131313,
    #000000,
    #ece4e4,
    #000000,
    #131313,
    #000000
  );
  opacity: 0.9;
}

#username {
  background: linear-gradient(
    -86deg,
    #f8f5e6,
    #f9d78d,
    #e7b97b,
    #fff1cf,
    #fdfedd
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#handle {
  background: linear-gradient(
    -86deg,
    #f6f42a,
    #f9d78d,
    #cfaa06,
    #c7c20a,
    #e7b97b
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hot {
  background: conic-gradient(
    #f7f7f3,
    #dbdfb2,
    #aeeccf,
    #cedfde,
    #f1d2ef,
    #f6ebf7,
    #f0ecf6,
    #ffffff,
    #f6f7e6
  );
  opacity: 0.85;
}

#crt {
  background: linear-gradient(to right, #fc9cf3, #b9d9ff, #0091ff, #fd99dc);
}

#create {
  background: linear-gradient(
    to right,
    #2a36f6,
    #0714d6,
    #0710a2,
    #0a15c7,
    #7077de
  );
}

#add {
  background: linear-gradient(
    -86deg,
    #c3ac3b,
    #f9d78d,
    #e7b97b,
    #cea23b,
    #eaed8a
  );
}

textarea::placeholder {
  color: #131313 !important;
}

input:focus {
  caret-color: black;
  outline: 0;
}

textarea:focus {
  caret-color: black;
  outline: 0;
}

#profile {
  background: linear-gradient(
    -86deg,
    #000000,
    #131313,
    #000000,
    #0a15c7,
    #000000,
    #131313,
    #000000
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#canvasOne {
  background-image: linear-gradient(#131313 0.1em, transparent 0.1em),
    linear-gradient(90deg, #131313 0.1em, transparent 0.1em);
  background-size: 3em 3em;
  background-color: white;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div[contenteditable] {
  cursor: text;
}

div[contenteditable]::selection::before {
  content: "";
  position: absolute;
  background: black;
  width: 1px;
  height: 1em;
  top: 0;
  left: -1px;
  animation: blink 1s linear infinite;
  cursor: text;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: white;
  height: 0.5rem;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: white;
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: black;
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
}

/***** Thumb Styles *****/
/***** Firefox *****/
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: black;
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
}

#post {
  color: transparent;
  background: transparent;
  caret-color: black;
}

#post #highlighting * {
  font-family: "Dosis Regular";
  font-size: 1rem; /* 16px */
  line-height: 1.5rem;
  overflow-y: scroll;
  white-space: pre-wrap;
}

code {
  font-family: "Dosis Regular";
  font-size: 1rem;
  line-height: 1.5rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

code::-webkit-scrollbar {
  display: none;
}

#highlighted-content {
  overflow-y: scroll;
  scrollbar-width: none;
}

#blue {
  color: blue;
}

#message {
  color: transparent;
  background: transparent;
  caret-color: black;
}

#message #highlighting-message * {
  font-family: "Dosis Regular";
  font-size: 1rem; /* 16px */
  line-height: 1.5rem;
  overflow-y: scroll;
  white-space: pre-wrap;
  color: black;
}

#highlighted-message {
  overflow-y: scroll;
  scrollbar-width: none;
  color: black;
}

#canvas #tl {
  border-radius: 0.5rem;
  background-color: transparent;
}

.tl-container {
  border-radius: 0.5rem;
  background-color: transparent;
}

#canvas.tl-absolute.tl-canvas {
  border-radius: 0.5rem;
  background-color: transparent;
}

#tl.tl-container {
  border-radius: 0.5rem;
  background-color: transparent;
}

#videoplayer {
  background-image: url("https://thedial.infura-ipfs.io/ipfs/QmekpQQEtQBP1M71SohCHiDRQbV1Sc2bKveVvwEfzAJCPx");
  background-color: black;
  background-position: center;
  background-size: cover;
}

#videoplayer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.2);
  filter: blur(5px);
}

.frame {
  border-radius: 0.375rem;
}

#panel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(5px);
  background: linear-gradient(to right, white, #b9d9ff, #0091ff, #44AFD3);
  opacity: 80%;
}