@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dosis Regular";
  font-weight: 400;
  src: url("/fonts/Dosis Regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(#81a8f8 0.1em, transparent 0.1em),
    linear-gradient(90deg, #81a8f8 0.1em, transparent 0.1em);
  background-size: 5em 5em;
  background-color: #131313;
}

::placeholder {
  color: white !important;
}

#radialPinkBorder {
  background: rgba(248, 245, 230, 0.7);
  background: radial-gradient(
    circle,
    rgba(248, 245, 230, 1) 0%,
    rgba(255, 241, 206, 1) 17%,
    rgba(253, 254, 221, 1) 33%,
    rgba(249, 215, 141, 1) 53%,
    rgba(244, 198, 167, 1) 73%,
    rgba(238, 192, 146, 1) 86%,
    rgba(255, 219, 150, 1) 100%
  );
  opacity: 0.9;
}

div::-webkit-scrollbar {
  width: 0.01rem;
  height: 0.1rem;
}

div::-webkit-scrollbar {
  width: 0.01rem;
}

div::-webkit-scrollbar-track:active {
  background-color: #131313;
}

div::-webkit-scrollbar-thumb:active {
  background-color: #ffdcff;
}
